@import '../../styles/variables';
.topbar {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  padding: 0 24px;

  height: 60px;
  background: $primary;
  .button {
    color: rgba(#000, .5);
    font-weight: 600;
    text-align: right;
    &:hover {
      color: rgba(#000, 1);
    }
  }
  nav {
    flex: 1 auto;
    ul {
      display: flex;
    }
    a {
      margin-right: 24px;
      color: rgba(#000, .5);
      font-weight: 500;
      &:hover {
        color: rgba(#000, 1);
      }
    }
    a.active {
      color: rgba(#000, 1);
    }
  }
}